extends layout

block content
    script(src="javascripts/ang-job.js")
    div.container-fluid(ng-app="job-app" ng-controller="jobCtrl")
      div.row-fluid
          div.query-box
              div.query-header
                  span 查询任务
          div.query-row
              span.hd.l 任务类型
              div.bd
                  ul
                      li.query-item.selected
                        a(ng-click="setTaskName('all')") 全部
                      li.query-item.selected
                        a(ng-click="setTaskName('hour_hermes_stat')") 广告-小时
                      li.query-item 广告-天
                      li.query-item 播控-小时
                      li.query-item 播控-天
                      li.query-item FunAdx
          div.query-row
              span.hd.l 任务时段
              div.bd
                  ul
                      li.query-item 今天
                      li.query-item 昨天
                      li.query-item 前3天
                      li.query-item 前一周
          div.query-row
              span.hd.l 任务状态
              div.bd
                  ul
                      li.query-item 失败
                      li.query-item 进行中
                      li.query-item 完成
                      li.query-item 全部
      div.row-fluid
          textarea {{requestParams}}


      div.row-fluid
          div.span12
              table.table
                  thead
                      tr
                          th 编号
                          th 产品
                          th 交付时间
                          th 状态
                  tbody
                      tr
                          td 1
                          td TB - Monthly
                          td 01/04/2012
                          td Default
                      tr
                          td 1
                          td TB - Monthly
                          td 01/04/2012
                          td Default
                      tr
                          td 1
                          td TB - Monthly
                          td 01/04/2012
                          td Default